header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  height: 550px;
  width: 100%;
  background-color: #cc8800;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}
