nav {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: space-between;
  background: #4056a1;
  color: #ffffff;
  height: 120px;
  position: fixed;
  width: 100%;
}

b {
  padding-right: 5px;
}

.left-nav {
  display: flex;
  font-family: "Bungee", sans-serif;
  font-size: 36px;
  margin: 0 1.5em 0 1.5em;
  align-items: center;
}

.right-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1.5em 0 1.5em;
}

i:hover {
  padding-top: 4px;
  transition: 0.25s ease;
}

.red {
  color: red;
}
